# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - CI
  - CD
  - test

secret_detection:
  stage: CI
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == 'main'

nodejs-scan-sast: 
  stage: CI
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == 'main'

semgrep-sast:
  stage: CI
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == 'main'     


validate-app: 
  stage: CI
  image: python:latest
  script:
    - apt update -y
    - apt install nodejs -y 
    - apt install npm -y
    - curl -fsSL https://aka.ms/install-azd.sh | bash
    - azd package -e test --no-prompt
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == 'main'

validate-infra: 
  stage: CI
  image: 364737385840.dkr.ecr.eu-west-1.amazonaws.com/tools-azure-cli-python:1.0
  script: 
    - az config set bicep.use_binary_from_path=false
    - az bicep install
    - source infra/platypus-dev.env
    - az deployment sub create --location West-Europe --template-file infra/main.bicep --parameters @infra/main.parameters.json
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == 'main' 

